<!DOCTYPE html>
<html>

    <head>
        <title> title </title>
        <link rel='stylesheet' type="text/css" href='css/base.css' />
        <link rel='stylesheet' type="text/css" href='css/index.css' />
    </head>

    <body>
        <article id="public" class="public">
            <section class="main-login">
                <h2 class="main-title">
                    <a href="/login" title="">Sign in</a>
                    <a href="/register" title="">Sign up</a>
                </h2>
                <div class="main-form">
                    <div class="main-form-box" id="main-form-box">
                        <aside class="main-form-login">
                            <ul>
                                <li><label for="">username:</label><input type="text" id="username"></li>
                                <li><label for="">password:</label><input type="text" id="password"></li>
                            </ul>
                            <div class="main-form-exp">
                                <a href="javascript:void(0)">忘记密码？找回密码</a>
                            </div>
                            <a href="/login" class="main-form-user-login">Sign in</a>
                        </aside>
                    </div>
                    <aside class="main-info">
                        <p>使用第三方賬號直接登錄：</p>
                        <div>
                            <img src="img/default-bg.png" >
                            <img src="img/default-bg.png" >
                            <img src="img/default-bg.png" >
                            <img src="img/default-bg.png" >
                        </div>
                    </aside>
                </div>
            </section>
        </article>
    </body>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(function() {

        });
    </script>
</html>
